In [1]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'Name': ['Alice', 'Bob', 'Charlie', None, 'David', 'Eve', 'Alice', 'Frank', 'Eve'],
    'Age': [25, 29, 28, None, 32, 35, 25, 100, 26],
    'Salary': [50000, 100000, 65000, 70000, None, 80000, 50000, 100000, 65000],
    'Department': ['HR', 'IT', 'IT', 'HR', 'IT', 'Sales', 'HR', 'IT', 'HR'],
    'Join Date': ['2020-01-01', '2020-05-15', '2021-03-20', '2020-11-25', '2021-08-30', None, '2020-01-01', '2022-06-18', '2021-02-11'],
    'Bonus': [5000, 6000, 5500, 7000, None, 8000, 5000, 10000, 6500]
})

print(" Original DataFrame:\n", data)

data_clean = data.dropna()
print("\n After removing missing values:\n", data_clean)

data_clean = data_clean.drop_duplicates()
print("\n After removing duplicates:\n", data_clean)

for column in ['Age', 'Salary', 'Bonus']:
    Q1 = data_clean[column].quantile(0.25)
    Q3 = data_clean[column].quantile(0.75)
    IQR = Q3 - Q1
    data_clean = data_clean[
        ~((data_clean[column] < (Q1 - 1.5 * IQR)) | (data_clean[column] > (Q3 + 1.5 * IQR)))
    ]

print("\n After removing outliers:\n", data_clean)

print("\n Final Cleaned DataFrame:\n", data_clean)

 Original DataFrame:
    ID     Name    Age    Salary Department   Join Date    Bonus
0   1    Alice   25.0   50000.0         HR  2020-01-01   5000.0
1   2      Bob   29.0  100000.0         IT  2020-05-15   6000.0
2   3  Charlie   28.0   65000.0         IT  2021-03-20   5500.0
3   4     None    NaN   70000.0         HR  2020-11-25   7000.0
4   5    David   32.0       NaN         IT  2021-08-30      NaN
5   6      Eve   35.0   80000.0      Sales        None   8000.0
6   7    Alice   25.0   50000.0         HR  2020-01-01   5000.0
7   8    Frank  100.0  100000.0         IT  2022-06-18  10000.0
8   9      Eve   26.0   65000.0         HR  2021-02-11   6500.0

 After removing missing values:
    ID     Name    Age    Salary Department   Join Date    Bonus
0   1    Alice   25.0   50000.0         HR  2020-01-01   5000.0
1   2      Bob   29.0  100000.0         IT  2020-05-15   6000.0
2   3  Charlie   28.0   65000.0         IT  2021-03-20   5500.0
6   7    Alice   25.0   50000.0         HR  2020-01-01   5000.0
7   8    Frank  100.0  100000.0         IT  2022-06-18  10000.0
8   9      Eve   26.0   65000.0         HR  2021-02-11   6500.0

 After removing duplicates:
    ID     Name    Age    Salary Department   Join Date    Bonus
0   1    Alice   25.0   50000.0         HR  2020-01-01   5000.0
1   2      Bob   29.0  100000.0         IT  2020-05-15   6000.0
2   3  Charlie   28.0   65000.0         IT  2021-03-20   5500.0
6   7    Alice   25.0   50000.0         HR  2020-01-01   5000.0
7   8    Frank  100.0  100000.0         IT  2022-06-18  10000.0
8   9      Eve   26.0   65000.0         HR  2021-02-11   6500.0

 After removing outliers:
    ID     Name   Age   Salary Department   Join Date   Bonus
0   1    Alice  25.0  50000.0         HR  2020-01-01  5000.0
2   3  Charlie  28.0  65000.0         IT  2021-03-20  5500.0
6   7    Alice  25.0  50000.0         HR  2020-01-01  5000.0
8   9      Eve  26.0  65000.0         HR  2021-02-11  6500.0

 Final Cleaned DataFrame:
    ID     Name   Age   Salary Department   Join Date   Bonus
0   1    Alice  25.0  50000.0         HR  2020-01-01  5000.0
2   3  Charlie  28.0  65000.0         IT  2021-03-20  5500.0
6   7    Alice  25.0  50000.0         HR  2020-01-01  5000.0
8   9      Eve  26.0  65000.0         HR  2021-02-11  6500.0